<a href="https://colab.research.google.com/github/ChaeYeEun/BaekjoonHub/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 파이썬은 띄어쓰기 조심!
 print문장은 화면에 출력해주는 명령어

In [ ]:
print('우와')

우와

파이썬에서 변수만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
name = '채예은'  
age = '17'
print('안녕하세요 난 ' + name + age )

안녕하세요 난 채예은17

안녕하세요 난 채예은이고 17살 입니다

In [ ]:
#연산자
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자
print(a/b)

2
1.6666666666666667

In [ ]:
a = 5
b = 3
print(a == b) # == 같은가? , 비교연산자
print(a != b) # != 같지 않은가?

False
True

In [ ]:
a = 5
b = 2
t = b
b = a
a = t
print(a , b) #문제 : 서로 반대가 되게, 2 5

2 5

In [ ]:
# 번외  a,b만으로 자리 바꾸기 할 수 있을까?

a = 5
b = 10

a = a + b #15
b = a - b #5
a = a - b #10

print(a, b)

10 5

In [ ]:
str = 'hello' # 문자열

In [ ]:
print(str)

hello

In [ ]:
# 우리반 학생의 성적을 저장. ( 1 ~ 10번 )
# 방법 1
s1 = '김개똥'
s2 = '홍길동'
# 만약 학생이 100명이라면 ? => 100개의 변수가 필요
# 하나의 묶음으로 보관  = list (다른 언어에서는 배열 array)

student = ['김개똥', '홍길동', 100] # 리스트(배열)에 다른 형태의 자료형 보관가능
print(student[2])  # 리스트(배열) 번지는 0부터 시작

student .append('채예은') #append는 새로운 항목을 추가 할 때
print(student[3])

# 리스트에서 쓸 수 있는 기능들은 어떤게 있을까??

# 리스트에서 특정항목)(홍길동) 삭제
student .pop (1) # 홍길동만 삭제
# 다시 출력
print(student)

100
채예은
['김개똥', 100, '채예은']

In [ ]:
from os import pipe
# 만약 1번의 이름, 국어, 영어, 정보 성적을 보관
# 2번의 이름, 국어, 영어, 정보
s1 = ['김개똥', 100, 50, 70]
s2 = ['홍길동', 60 , 70 ,100]

cls = [s1, s2] # 리스트 (배열) 안에 리스트를 넣을 수 있음 => 2차원 리스트 (배열)
print(cls[0])
a1 = cls[0] # s1 = 김개똥의 배열
print(cls[0][1])

# 배열과 리스트가 같을까?? => 배열은 크기 = 변경불가 , 리스트는 변함

['김개똥', 100, 50, 70]
100

In [ ]:
# 여기만 실행 ㄴㄴ
# type(변수) = 변수의 타입 (자료의 형태를 출력)

print(type(cls)) #cls의 자료형

num = 3.141592
print(type(num))

num2 = 3
print(type(num2))

<class 'list'>
<class 'float'>
<class 'int'>

In [ ]:
# 사용자 입력
print('이름을 입력하세요')
name = input() # 입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('hello', name )
#print('hello' + name)
print(f'hello {name}')  # f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현 가능

이름을 입력하세요
우롹굳
hello 우롹굳

In [ ]:
 # 리스트에 관해서 .. 문자열
 # string = 문자열
str = 'hello world'
print(str[4]) # [ 'h' , 'e' 'l'[.....] ] 으로 저장되고 있음
print(  len(str)  ) # len() 기능은 문자의 길이를 출력

list = [1,2,3,4,5] #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
# 반복문 - 반복된 작업을 쉽게
# 상황 - 리스트 [0,0,0,0,0,0,...] => 100칸 생성
#list = [0,0.... 0 ]또는
# list = [] list.append(0)

#, 반복문 for while
# for = 제한된 횟수 만큼 반복
# k = 반복하면서 사용할 변수
# range(범위) 0~범위 -1 까지
for k in range(2,5): # 2부터 5-1까지
# : 표시는 중괄호 시작이랑 같은 뜻
# 안에 들여쓰기를 했음
  print(k) # k는 0~9까지 변수
  print('반복중')

2
반복중
3
반복중
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6 ....] 순서로 값을 초기화
# 배열의 항목을 추가하는 명령어 append

list = []

# list . append(0)
# list . append(2)
# list . append(4)

# for 변수 in 범위:
# 반복내용
for n in range(100):
 # n = 0,1,2,....99
 list.append(n*2)

###################
#... 100번 
print(list)
#[0,2,4,6,8....98]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [ ]:

for k in range(0,200,2):
  
  print(k)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [ ]:
# for문은 반복문 => 똑같은 작업을 할 수 있도록 횟수를 지정하는 반복문
# 입력하는 단의 구구단 출력
# 예)  3입력 => 3 ....3*9 = 27
n = input('숫자를 입력하세요')
print(n*3) # input으로 받은 값은 문자로 처리됨 ((3을 세번 써로 인식
k = int(n) # int 타입= 정수값으로 변경
print(k*3)
## ==>>>> n = int(input('숫자입력'))

숫자를 입력하세요3
333
9

In [ ]:
# 진짜 입력 받은 숫자를 가지고 구구단 만들기
# 입력하는 단의 구구단 출력
# 예) 3 입력 => 3*1 = 3 ..... 3*9 =27

num = int(input('몇단을 출력할까요?'))
for i in range(1, 10): # 1부터 10 전까지 = 1~9 # 콜론 : 붙여야함
  print(num, "*", i, "=", num * i)
  #(f'{n} * {i} = {n*i}') 선생님이 하신 방법

몇단을 출력할까요?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#  1~  입력수 n 까지 369게임   ( n = 2~9)
#  3,6,9에는 대문자 X를 출력  
# 그리고 숫자마다 공백

# 0. 사용자 입력을 숫자로 받기
# 1. 1부터 입력수 까지 출력 =>   for문 필요
# 2. 3,6,9 인지 판단 하여 X로 변환

k = int(   input('숫자 입력')         )
for i in range(1, k+1):
  #i 는   1부터 k까지 나옴...
  
  #if 조건 :   => 참인지 검사
  # 참이라면 수행할 내용
  #if i 가 3이랑 같은가  
  if i == 3 :  #등호를 하나만 쓰면,   <-  복사,      == 비교하는것
    #들여쓰기 조심
    print('X')
  else:  #그 밖에  if와 같이 사용됨. if는 혼자 쓸수 있지만, else 혼자 사용 불가
    #들여쓰기 조심
    print(i)

숫자 입력10
1
2
X
4
5
6
7
8
9
10

In [ ]:
# 나머지 연산자 알기
n = int(input('숫자'))

for i in range(1, n+1):
  #만약 3으로 나누어 떨어지는가 ==  나머지가 0인가
  #  % = 나머지 연산자 =>      10 % 3 = 1
  if i % 3  ==  0:   # 3,6,9
    print('X')
  else:
    print(i)

숫자10
1
2
X
4
5
X
7
8
X
10

In [ ]:
# OR연산자, AND연산자  =>  OR 연산자
n = int(input('숫자'))

for i in range(1, n+1):  
  if i == 3  or  i == 6   or   i == 9 :
    print('X')
  else:
    print(i)

숫자10
1
2
X
4
5
X
7
8
X
10

In [ ]:
# if문 복습 for 문과 연계
# if = 조건 검사 = 만약 조건이 참이면 수행할 내용 작성

a = 4
# a가 5보다 크다면 "큰수" 출력,
if a > 5 : 
  print('큰 수')
  print('입니다')
# 콜론 표시의 주의 ~
# 클론 다음에는 현재보다 들여쓰기 (탭)

## 차이점 

if a > 5 : 
  print('큰 수')
print('입니다')

if a > 5 :
  print('큰 수')
else: #else = '그 밖에' 참이 아닌 경우는 전부 이쪽으로 오게됨.      
  print('작은 수')

입니다

In [ ]:
4414
111
11
123325
# 내가 생각한 숫자 맞추기
# 10번의 기회동안 숫자를 맞춤
# 10번의 기회 => 10번 동안의 입력을 받아야함
# 10번 동안 => 10번 반복 => for문 필요
# 입력받음 => input() 필요
# 내가 입력한 숫자가 맞는지 검사 (만약 일치하나??) => if문 필요
# 10번 반복할 동안 검사를 매번 수행 => for문 안에서 입력도 받고, 검사도 하고

ans = 15 # 정답

for i in range(10):
  num = int(input('정답은?')) # 입력 문자를 숫자로 받아침
  
# ans랑num랑 같은가?
  if ans == num:
   print('정답')
else:
  print('오답')

정답은?15
정답
정답은?14
정답은?14
정답은?1
정답은?1
정답은?

ValueError: ignored

In [ ]:
#숫자를 입력받기 기능 => n이라고 하자
#1부터 n까지 반복 => for
#반복하면서 나오는 숫자가 짝수 인지 검사 %2 == 0
#합 구하기 => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자

n = int(input("숫자를 입력"))
sum = 0 #합계
for i in range(1, n+1):
  #i가 1~n까지 값이 들어옴
  #i가 짝수인지 판단
  if i%2 == 0:
    #sum에다 i를 누적한다는 것은 현재 sum에 i룰 추가 => sum에 보관
    sum = sum+i

#반복이 끝났음.
print(sum)

숫자를 입력12
42

In [ ]:
n = int(input())
sum = 0
for i in range(2, n+1, 2):
    sum = sum+i
print(sum)

In [ ]:
n = int(input())
sum = 0

if n%2 != 0:
  n = n-1 #n을 마지막 짝수로 만듬
mid = int(n/2) + 1
sum = ((n+2) * int(n/4)) + mid
print(sum)

30
240

In [ ]:
#가위 1 바위 2 보 3
#

me = int(input('뭐 낼래? 가위 1 바위 2 보 3' ))
com =  int(input())

#나의 컴의 비교를 해서 승, 패, 무승부 출력!

if me == com:
  print('무승부')

#내가 이기는 경우
# 나1 - 컴3 , 나2 - 컴1, 나3-컴2

elif (me == 1 and com== 3) or (me == 2 and com == 1)  or (me == 3 and com == 2) :
  print('승리') 
else:
  print('패배')

#elif me == 2 and com == 1 :
#  print('승리')

#elif me == 3 and com == 2 :
#  print('승리')

#if me == 3 : 
#  print('패배')

뭐 낼래? 가위 1 바위 2 보 3 2
2
무승부

가위 1 바위 2 보 3

이기는 조건
1 3 = -2
2 1 = 1
3 2 = 1
me - com == -2 or me - com == 1 로도 가능한데

더 변태적인게잇다

1 3 = -2 % 3 = 1
2 1 = 1 % 3 = 1
3 2 = 1 % 3 = 1



for range(a,b,c)

if else
if elif
if elis else

elif, else 단독으로 쓰일 수 없다

or,and 논리연산자
== 비교연산자 (참 거짓)

bool = 참 거짓을 보관하는 변수 타입
int k
char k

In [ ]:
# 1이 입력되면 0 , 0 이 입력되면 1로 출력하는 프로그램 만들자 
n = int(input())
if n == 1:
  print(0)
elif n == 0:
  print(1)

#만약 n = input()
#이면 n은 문자값이므로 오류가 난다
#그래서 숫자로 바꾸어주는 int() 라는 명령어로 덮어줌

1
0

In [ ]:
# 쌤이 하신 거
n = int(input())
print(1-n)

0
1

In [ ]:
# for문과 배열을 섞어보자.
# 배열 = list => 변수의 집합 => 여러개의 변수를 묶어서 보관
# 그럼 어떻게 안에 있는 자료를 접근할 수 있을까?? => 주소

lt = [] # 빈 리스트를 만들기
# 리스트와 관련된 명령어 알기
# lt. => 점을 찍으면 사용할 수 있는 명령어가 나옴
lt.append(1) # 뒤에 추가
lt.append(10)
lt.insert(1,5) # (번지 , 추가할 값) 리스트는 0 번지 부터 출발
lt.insert(0,20) # [20 , 1 , 5 , 10]

# append = 추가

# 1번지에 있는 1을 삭제
lt.remove(1) # 삭제할 때는 주소번지만 이용해서 삭제

print(lt)

[20, 5, 10]

In [ ]:
# [0,10,20,30,40....1000] 인 배열 만들자
# 0 번지 0, 1번지에 10 , 2번지에 20, 3번지에 30 .... n 번지 n*10
a = []
for i in range(101):
  a.append(i*10)


print(a)
# 값을 찾아보고 있으면 해당 번지를 출력
# 없으면 오류 출력

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [ ]:
#[0, 10, 20, 30, 40 ...   1000] 인 배열 만들자.
# 0번지 0, 1번지에 10 , 2번지 20, 3번지 30,..... n번지 n*10
a = []
#for 변수 in 범위(리스트를 써도 되고, range() 이용)
for k in range(0, 1001, 10):
  a.append(k)
print(a)

pos = a.index(40)   
#값을 찾아보고 있으면 해당 번지를 출력
#없으면 오류 출력
print(pos)


str = 'hello world' #문자열도 리스트로 다룰 수 있음
print(str[6])
print(str.index('w'))
#문자열에서는 find 명령어도 사용할 수 있음
print(str.find('w'))
#find는 찾지 못하면 오류대신 -1을 출력
print(str.find('T'))

In [ ]:
# 리스트에서 index를 쓰지 않고 해당 위치 반환

a = [1,2,3,4,5,6,7]
size = len(a) # a 배열의 길이 , a.lenght 아님 (자바에서 이렇게)
find = int(input())

# 힌트 for문 이용 => a의 크기 만큼 반복검사

for i in range(size):
  if a[i] == find:
    print(i)

    break
# a 에서 쓸 수 있는 기능
#pos = a.index(4) # 4의 위치는/
#print(pos)
 







# 결과
# 4 입력 => 3(번지) 출력

5
4

python java 과정평가 산업기사
java = 1년
2학년 = 노잼
결론 = 알아서 발전해라

In [ ]:
#마지막부터 값 찾기
#hint range 사용

a = [0,1,2,3,4,5,6,7,8,9]
size = len(a)
find = int(input())
pos = 8
# range(5) 0-4까지
# range (1,5) 1~4 까지
# range(1,10,2) 1 ~ 10까지 2씩 증가
# 10부터 0까지 1씩 감소 => rnage (11, 0, -1)

#for i in range(size-1 , -1 ,-1):
# if a[i] == find:
#   print(i)
#   break # 반복문을 빠져나간다

for k un range(sizw):
  pos = size -1 - k # k = 0 일때 10-1ㅏ=> 9-0 = 9번지 찾기
  if a[pos] == find:
  print(pos)
  break

SyntaxError: ignored

In [ ]:
n = ['jon', 'fed', ]
for k in n:

  print(k)

jon
fed

In [ ]:
# 반복문

# 조건이 참인 동안 반복해라
k = 0
while k < 5:
  print(k)
  k = k+1

print('bye bye')
print(k)

0
1
2
3
4
bye bye
5

In [ ]:
# 패스워드를 검사하자
# 비번이 맞을 때 까지 반복

pw = '1234'  # 문자 1234

my = input('패스워드를 입력하세요')

while pw != my:
   my = input('패스워드를 다시 입력하세요')


print('welcome')

 # ! 부정의 의미

SyntaxError: ignored

In [ ]:
pw = 1234' 

#  무조건 반복하다가 조건이 맞으면 탈출(break)
#  True는 참을 False는 거짓을 => 대소문자 주의 do-while 은 파이썬에 없음

while True :
  my = input('비번입력')
  if pw == my:
    break

비번입력1234
비번입력1234
비번입력1234
비번입력1234
비번입력1234
비번입력1234
비번입력124

In [ ]:
# 문제 1134번

target = input('찾을 글자를 입력하세요 - KTX')
scr = input('문자열을 입력하세요 - KINTEX')

#target = 'KTX'
#scr = 'KINTEX'
t_pos = 0
print(target[t_pos]) #문자열도 리스트임

# t_pos = t_pos + 1

for s in scr:
  # KINTEXT의 K == KTX[0]인 K 같은지 비교
  if s == target[t_pos]:
    # 만약 글자를 찾으면 target의 다음 글자
    t_pos = t_pos + 1

    #글자수 만큼 다 찾으면 반복문 나오기
    if len (target) == t_pos:
      print('Y')
      break
print('끝')

찾을 글자를 입력하세요 - KTXBUS
문자열을 입력하세요 - KINTEXUBSUS
B
Y
끝

값을 보관하기
- 변수를 사용 -
a = 1 <= 오른쪽에서 왼쪽으로 복사
저장되는 것에 종류가 있을까? = 자료형(숫자,문자,참/거짓....), 자료의 형태를 저장하지 얺음

- 만약 , 24명의 학생을 보관하려고 함. 변수가 몇개 필요한가? => 24개가 필요,너무많음 => 한번에 관리 할 수 없을까?

- 리스트 : 변수들의 집합,모임 (리스트(배열)...,튜플,닥셔너리,집합)
_ 사용법 : 주소가 있음 (0번지 부터 시작)
- a[0] = 1 # a리스트의 0번지에 1을 저장
- 번지에 꼭 숫자가 들어가야 할까? => 아니다 => 변수가 들어갈 수 있음(숫자인 변수)
- arr = 1, lt[arr] = 1 # lt 리스트의 1번지에 1이 들어감 lt[1]
- 리스트의 크기는 변함, 항목을 추가할 수도 있고, 뺄 수도 있음
- 항목을 추가하는 함수는 append,빼는건 remove


기능을 사용하기
- 파이썬에서 만든 기능을 사용
- 명령어()
- print() , append() , len() , input() , int() , 
- 기능을 만들어서 사용할 수 있음. def:
- print() , print 은 다른말

문법 
- 반복문 : 같은 작업을 여러번 반복시키는 명령
- for : 일정 범위 만큼 반복
 - 예) 10번 반복해 X => 0~9 만큼 반복해
 = for 사용할 변수 in range(10) # 사용할 변수의 0~9까지 적용
 - range() 의 활용
 = range(10) : 0~9, rnage(5,10) : 5~9, range(3,10,2) : 3~9 , 2씩 증가
 - # 10,0,1 씩 감소 ( = -1씩 증가)
 = for i in rnage(10,-1,-1) : 10~0, -1씩 증가
 = for i in ramge( 시,끝,증)


- while : 조건이 참일 동안 계속 반복

In [ ]:
for i in range(10, -1, -1): # 10~0
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# 리스트와 for을 사용해보자 
# 리스트를 만드는데 [0,1,2,3,4] 가 보관된 리스트 만들기
# 선생님 예시

lt = [] # 아무것도 없는 리스트 .append를 이용해 추가

size = int(input('크기를 입력하세요'))
for i in range(0,size):
  lt.append(i)
  
#for i in range(0,5): # i 는 0부처 4 까지 보관  
#  lt.append()

print(lt)



# lt.append(0)
# lt.append(1)
# lt.append(2)
# lt.append(3)
# lt.append(4)


#for i in range(0,5,1):
#  lt.append(i)
# ^ 내 풀이

크기를 입력하세요123
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [3]:
# while 조건 :
#   기능

# while 조건이 참일 동안 :
#   기능


# while 1>0:
#   ans = input('Q를 입력하면 종료합니다.')

# while 1>0:
#   ans = input('Q를 입력하면 종료합니다.')
#   if ans == 'Q':
#     break

ans = ''
while ans != 'Q':
   ans = input('Q를 입력하면 종료합니다.')

Q를 입력하면 종료합니다.D
Q를 입력하면 종료합니다.F
Q를 입력하면 종료합니다.Q

In [9]:
# 숫자 하나를 입력받고, 그 숫자부터 1까지 출력, 단 while 이용
n = int(input('숫자입력'))

while n != 0 : # n 은 0 이랑 같지 않냐? = 참이니 실행, n이 10이라면 -1씩 빼주니 0과 같아지면 같지않냐에서 참이 아닌 거짓이니까 while문은 끝이나게 된다.
  print(n)
  n = n - 1 # n -= 1

숫자입력1000
1000
999
998
997
996
995
994
993
992
991
990
989
988
987
986
985
984
983
982
981
980
979
978
977
976
975
974
973
972
971
970
969
968
967
966
965
964
963
962
961
960
959
958
957
956
955
954
953
952
951
950
949
948
947
946
945
944
943
942
941
940
939
938
937
936
935
934
933
932
931
930
929
928
927
926
925
924
923
922
921
920
919
918
917
916
915
914
913
912
911
910
909
908
907
906
905
904
903
902
901
900
899
898
897
896
895
894
893
892
891
890
889
888
887
886
885
884
883
882
881
880
879
878
877
876
875
874
873
872
871
870
869
868
867
866
865
864
863
862
861
860
859
858
857
856
855
854
853
852
851
850
849
848
847
846
845
844
843
842
841
840
839
838
837
836
835
834
833
832
831
830
829
828
827
826
825
824
823
822
821
820
819
818
817
816
815
814
813
812
811
810
809
808
807
806
805
804
803
802
801
800
799
798
797
796
795
794
793
792
791
790
789
788
787
786
785
784
783
782
781
780
779
778
777
776
775
774
773
772
771
770
769
768
767
766
765
764
763
762
761
760
759
758
757
756
755
754
753
752
751
750
749
748
747
746
745
744
743
742
741
740
739
738
737
736
735
734
733
732
731
730
729
728
727
726
725
724
723
722
721
720
719
718
717
716
715
714
713
712
711
710
709
708
707
706
705
704
703
702
701
700
699
698
697
696
695
694
693
692
691
690
689
688
687
686
685
684
683
682
681
680
679
678
677
676
675
674
673
672
671
670
669
668
667
666
665
664
663
662
661
660
659
658
657
656
655
654
653
652
651
650
649
648
647
646
645
644
643
642
641
640
639
638
637
636
635
634
633
632
631
630
629
628
627
626
625
624
623
622
621
620
619
618
617
616
615
614
613
612
611
610
609
608
607
606
605
604
603
602
601
600
599
598
597
596
595
594
593
592
591
590
589
588
587
586
585
584
583
582
581
580
579
578
577
576
575
574
573
572
571
570
569
568
567
566
565
564
563
562
561
560
559
558
557
556
555
554
553
552
551
550
549
548
547
546
545
544
543
542
541
540
539
538
537
536
535
534
533
532
531
530
529
528
527
526
525
524
523
522
521
520
519
518
517
516
515
514
513
512
511
510
509
508
507
506
505
504
503
502
501
500
499
498
497
496
495
494
493
492
491
490
489
488
487
486
485
484
483
482
481
480
479
478
477
476
475
474
473
472
471
470
469
468
467
466
465
464
463
462
461
460
459
458
457
456
455
454
453
452
451
450
449
448
447
446
445
444
443
442
441
440
439
438
437
436
435
434
433
432
431
430
429
428
427
426
425
424
423
422
421
420
419
418
417
416
415
414
413
412
411
410
409
408
407
406
405
404
403
402
401
400
399
398
397
396
395
394
393
392
391
390
389
388
387
386
385
384
383
382
381
380
379
378
377
376
375
374
373
372
371
370
369
368
367
366
365
364
363
362
361
360
359
358
357
356
355
354
353
352
351
350
349
348
347
346
345
344
343
342
341
340
339
338
337
336
335
334
333
332
331
330
329
328
327
326
325
324
323
322
321
320
319
318
317
316
315
314
313
312
311
310
309
308
307
306
305
304
303
302
301
300
299
298
297
296
295
294
293
292
291
290
289
288
287
286
285
284
283
282
281
280
279
278
277
276
275
274
273
272
271
270
269
268
267
266
265
264
263
262
261
260
259
258
257
256
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [15]:
# 숫자를 하나 입력받아서 입력수부터 100까지 출력 10 11 12.. 100출력

n = int(input('숫자를 입력하세요'))

while n != 101: # n과 101은 같지 않다 참 = 실행 / 101과 같아지면 거짓 = 멈춤
  print(n) 
  if n > 101:  # n 이 101보다 크면 -1 씩 해주기 근데 101과 같아지면 멈추니까 150에서 시작하면 102에서 멈춘다.. 이걸 어쩌지?
    n -= 1
  elif n < 101: # n 이 101보다 작으면 +1 씩 해주기 여긴 잘 되는데
    n += 1

숫자를 입력하세요200
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102

In [18]:
n = int(input('숫자를 입력하세요'))
b = True

while b: 
  if n == 100: # 만약 n 이 100과 같다면 b는 거짓이 된다
    b = False
  print(n)
  if n > 100:  # n이 100보다 크면 -1씩 해주고
    n -= 1
  elif n < 100: # n이 100보다 작으면 +1씩 해준다 
    n += 1

숫자를 입력하세요110
110
109
108
107
106
105
104
103
102
101
100