<a href="https://colab.research.google.com/github/ChaeYeEun/BaekjoonHub/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 파이썬은 띄어쓰기 조심!
 print문장은 화면에 출력해주는 명령어

In [ ]:
print('우와')

우와

파이썬에서 변수만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
name = '채예은'  
age = '17'
print('안녕하세요 난 ' + name + age )

안녕하세요 난 채예은17

안녕하세요 난 채예은이고 17살 입니다

In [ ]:
#연산자
a = 5
b = 3
print(a%b) #나머지를 구하는 연산자
print(a/b)

2
1.6666666666666667

In [ ]:
a = 5
b = 3
print(a == b) # == 같은가? , 비교연산자
print(a != b) # != 같지 않은가?

False
True

In [ ]:
a = 5
b = 2
t = b
b = a
a = t
print(a , b) #문제 : 서로 반대가 되게, 2 5

2 5

In [ ]:
# 번외  a,b만으로 자리 바꾸기 할 수 있을까?

a = 5
b = 10

a = a + b #15
b = a - b #5
a = a - b #10

print(a, b)

10 5

In [ ]:
str = 'hello' # 문자열

In [ ]:
print(str)

hello

In [ ]:
# 우리반 학생의 성적을 저장. ( 1 ~ 10번 )
# 방법 1
s1 = '김개똥'
s2 = '홍길동'
# 만약 학생이 100명이라면 ? => 100개의 변수가 필요
# 하나의 묶음으로 보관  = list (다른 언어에서는 배열 array)

student = ['김개똥', '홍길동', 100] # 리스트(배열)에 다른 형태의 자료형 보관가능
print(student[2])  # 리스트(배열) 번지는 0부터 시작

student .append('채예은') #append는 새로운 항목을 추가 할 때
print(student[3])

# 리스트에서 쓸 수 있는 기능들은 어떤게 있을까??

# 리스트에서 특정항목)(홍길동) 삭제
student .pop (1) # 홍길동만 삭제
# 다시 출력
print(student)

100
채예은
['김개똥', 100, '채예은']

In [ ]:
from os import pipe
# 만약 1번의 이름, 국어, 영어, 정보 성적을 보관
# 2번의 이름, 국어, 영어, 정보
s1 = ['김개똥', 100, 50, 70]
s2 = ['홍길동', 60 , 70 ,100]

cls = [s1, s2] # 리스트 (배열) 안에 리스트를 넣을 수 있음 => 2차원 리스트 (배열)
print(cls[0])
a1 = cls[0] # s1 = 김개똥의 배열
print(cls[0][1])

# 배열과 리스트가 같을까?? => 배열은 크기 = 변경불가 , 리스트는 변함

['김개똥', 100, 50, 70]
100

In [ ]:
# 여기만 실행 ㄴㄴ
# type(변수) = 변수의 타입 (자료의 형태를 출력)

print(type(cls)) #cls의 자료형

num = 3.141592
print(type(num))

num2 = 3
print(type(num2))

<class 'list'>
<class 'float'>
<class 'int'>

In [ ]:
# 사용자 입력
print('이름을 입력하세요')
name = input() # 입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('hello', name )
#print('hello' + name)
print(f'hello {name}')  # f' 로 시작하는 포맷팅을 이용해서 변수를 안에 표현 가능

이름을 입력하세요
우롹굳
hello 우롹굳

In [ ]:
 # 리스트에 관해서 .. 문자열
 # string = 문자열
str = 'hello world'
print(str[4]) # [ 'h' , 'e' 'l'[.....] ] 으로 저장되고 있음
print(  len(str)  ) # len() 기능은 문자의 길이를 출력

list = [1,2,3,4,5] #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
# 반복문 - 반복된 작업을 쉽게
# 상황 - 리스트 [0,0,0,0,0,0,...] => 100칸 생성
#list = [0,0.... 0 ]또는
# list = [] list.append(0)

#, 반복문 for while
# for = 제한된 횟수 만큼 반복
# k = 반복하면서 사용할 변수
# range(범위) 0~범위 -1 까지
for k in range(2,5): # 2부터 5-1까지
# : 표시는 중괄호 시작이랑 같은 뜻
# 안에 들여쓰기를 했음
  print(k) # k는 0~9까지 변수
  print('반복중')

2
반복중
3
반복중
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0,2,4,6 ....] 순서로 값을 초기화
# 배열의 항목을 추가하는 명령어 append

list = []

# list . append(0)
# list . append(2)
# list . append(4)

# for 변수 in 범위:
# 반복내용
for n in range(100):
 # n = 0,1,2,....99
 list.append(n*2)

###################
#... 100번 
print(list)
#[0,2,4,6,8....98]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [ ]:

for k in range(0,200,2):
  
  print(k)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [ ]:
# for문은 반복문 => 똑같은 작업을 할 수 있도록 횟수를 지정하는 반복문
# 입력하는 단의 구구단 출력
# 예)  3입력 => 3 ....3*9 = 27
n = input('숫자를 입력하세요')
print(n*3) # input으로 받은 값은 문자로 처리됨 ((3을 세번 써로 인식
k = int(n) # int 타입= 정수값으로 변경
print(k*3)
## ==>>>> n = int(input('숫자입력'))

숫자를 입력하세요3
333
9

In [ ]:
# 진짜 입력 받은 숫자를 가지고 구구단 만들기
# 입력하는 단의 구구단 출력
# 예) 3 입력 => 3*1 = 3 ..... 3*9 =27

num = int(input('몇단을 출력할까요?'))
for i in range(1, 10): # 1부터 10 전까지 = 1~9 # 콜론 : 붙여야함
  print(num, "*", i, "=", num * i)
  #(f'{n} * {i} = {n*i}') 선생님이 하신 방법

몇단을 출력할까요?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#  1~  입력수 n 까지 369게임   ( n = 2~9)
#  3,6,9에는 대문자 X를 출력  
# 그리고 숫자마다 공백

# 0. 사용자 입력을 숫자로 받기
# 1. 1부터 입력수 까지 출력 =>   for문 필요
# 2. 3,6,9 인지 판단 하여 X로 변환

k = int(   input('숫자 입력')         )
for i in range(1, k+1):
  #i 는   1부터 k까지 나옴...
  
  #if 조건 :   => 참인지 검사
  # 참이라면 수행할 내용
  #if i 가 3이랑 같은가  
  if i == 3 :  #등호를 하나만 쓰면,   <-  복사,      == 비교하는것
    #들여쓰기 조심
    print('X')
  else:  #그 밖에  if와 같이 사용됨. if는 혼자 쓸수 있지만, else 혼자 사용 불가
    #들여쓰기 조심
    print(i)

숫자 입력10
1
2
X
4
5
6
7
8
9
10

In [ ]:
# 나머지 연산자 알기
n = int(input('숫자'))

for i in range(1, n+1):
  #만약 3으로 나누어 떨어지는가 ==  나머지가 0인가
  #  % = 나머지 연산자 =>      10 % 3 = 1
  if i % 3  ==  0:   # 3,6,9
    print('X')
  else:
    print(i)

숫자10
1
2
X
4
5
X
7
8
X
10

In [ ]:
# OR연산자, AND연산자  =>  OR 연산자
n = int(input('숫자'))

for i in range(1, n+1):  
  if i == 3  or  i == 6   or   i == 9 :
    print('X')
  else:
    print(i)

숫자10
1
2
X
4
5
X
7
8
X
10

In [ ]:
# if문 복습 for 문과 연계
# if = 조건 검사 = 만약 조건이 참이면 수행할 내용 작성

a = 4
# a가 5보다 크다면 "큰수" 출력,
if a > 5 : 
  print('큰 수')
  print('입니다')
# 콜론 표시의 주의 ~
# 클론 다음에는 현재보다 들여쓰기 (탭)

## 차이점 

if a > 5 : 
  print('큰 수')
print('입니다')

if a > 5 :
  print('큰 수')
else: #else = '그 밖에' 참이 아닌 경우는 전부 이쪽으로 오게됨.      
  print('작은 수')

입니다

In [ ]:
23325
# 내가 생각한 숫자 맞추기
# 10번의 기회동안 숫자를 맞춤
# 10번의 기회 => 10번 동안의 입력을 받아야함
# 10번 동안 => 10번 반복 => for문 필요
# 입력받음 => input() 필요
# 내가 입력한 숫자가 맞는지 검사 (만약 일치하나??) => if문 필요
# 10번 반복할 동안 검사를 매번 수행 => for문 안에서 입력도 받고, 검사도 하고

ans = 15 # 정답

for i in range(10):
  num = int(input('정답은?')) # 입력 문자를 숫자로 받아침
  
# ans랑num랑 같은가?
  if ans == num:
   print('정답')
else:
  print('오답')

정답은?13
정답은?15
정답
정답은?235
정답은?253
정답은?5
정답은?23523525
정답은?asdf

ValueError: ignored

In [ ]:
#숫자를 입력받기 기능 => n이라고 하자
#1부터 n까지 반복 => for
#반복하면서 나오는 숫자가 짝수 인지 검사 %2 == 0
#합 구하기 => 합을 보관하는 변수 sum을 만들자
#sum변수를 누적해서 저장하자

n = int(input("숫자를 입력"))
sum = 0 #합계
for i in range(1, n+1):
  #i가 1~n까지 값이 들어옴
  #i가 짝수인지 판단
  if i%2 == 0:
    #sum에다 i를 누적한다는 것은 현재 sum에 i룰 추가 => sum에 보관
    sum = sum+i

#반복이 끝났음.
print(sum)

숫자를 입력12
42

In [ ]:
n = int(input())
sum = 0
for i in range(2, n+1, 2):
    sum = sum+i
print(sum)

In [ ]:
n = int(input())
sum = 0

if n%2 != 0:
  n = n-1 #n을 마지막 짝수로 만듬
mid = int(n/2) + 1
sum = ((n+2) * int(n/4)) + mid
print(sum)

30
240

In [ ]:
#가위 1 바위 2 보 3
#

me = int(input('뭐 낼래? 가위 1 바위 2 보 3' ))
com =  int(input())

#나의 컴의 비교를 해서 승, 패, 무승부 출력!

if me == com:
  print('무승부')

#내가 이기는 경우
# 나1 - 컴3 , 나2 - 컴1, 나3-컴2

elif (me == 1 and com== 3) or (me == 2 and com == 1)  or (me == 3 and com == 2) :
  print('승리') 
else:
  print('패배')

#elif me == 2 and com == 1 :
#  print('승리')

#elif me == 3 and com == 2 :
#  print('승리')

#if me == 3 : 
#  print('패배')

뭐 낼래? 가위 1 바위 2 보 3 2
2
무승부

가위 1 바위 2 보 3

이기는 조건
1 3 = -2
2 1 = 1
3 2 = 1
me - com == -2 or me - com == 1 로도 가능한데

더 변태적인게잇다

1 3 = -2 % 3 = 1
2 1 = 1 % 3 = 1
3 2 = 1 % 3 = 1



for range(a,b,c)

if else
if elif
if elis else

elif, else 단독으로 쓰일 수 없다

or,and 논리연산자
== 비교연산자 (참 거짓)

bool = 참 거짓을 보관하는 변수 타입
int k
char k

In [ ]:
# 1이 입력되면 0 , 0 이 입력되면 1로 출력하는 프로그램 만들자 
n = int(input())
if n == 1:
  print(0)
elif n == 0:
  print(1)

#만약 n = input()
#이면 n은 문자값이므로 오류가 난다
#그래서 숫자로 바꾸어주는 int() 라는 명령어로 덮어줌

1
0

In [ ]:
# 쌤이 하신 거
n = int(input())
print(1-n)

0
1

In [ ]:
# for문과 배열을 섞어보자.
# 배열 = list => 변수의 집합 => 여러개의 변수를 묶어서 보관
# 그럼 어떻게 안에 있는 자료를 접근할 수 있을까?? => 주소

lt = [] # 빈 리스트를 만들기
# 리스트와 관련된 명령어 알기
# lt. => 점을 찍으면 사용할 수 있는 명령어가 나옴
lt.append(1) # 뒤에 추가
lt.append(10)
lt.insert(1,5) # (번지 , 추가할 값) 리스트는 0 번지 부터 출발
lt.insert(0,20) # [20 , 1 , 5 , 10]

# append = 추가

# 1번지에 있는 1을 삭제
lt.remove(1) # 삭제할 때는 주소번지만 이용해서 삭제

print(lt)

[20, 5, 10]

In [ ]:
# [0,10,20,30,40....1000] 인 배열 만들자
# 0 번지 0, 1번지에 10 , 2번지에 20, 3번지에 30 .... n 번지 n*10
a = []
for i in range(101):
  a.append(i*10)


print(a)
# 값을 찾아보고 있으면 해당 번지를 출력
# 없으면 오류 출력

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [ ]:
#[0, 10, 20, 30, 40 ...   1000] 인 배열 만들자.
# 0번지 0, 1번지에 10 , 2번지 20, 3번지 30,..... n번지 n*10
a = []
#for 변수 in 범위(리스트를 써도 되고, range() 이용)
for k in range(0, 1001, 10):
  a.append(k)
print(a)

pos = a.index(40)   
#값을 찾아보고 있으면 해당 번지를 출력
#없으면 오류 출력
print(pos)


str = 'hello world' #문자열도 리스트로 다룰 수 있음
print(str[6])
print(str.index('w'))
#문자열에서는 find 명령어도 사용할 수 있음
print(str.find('w'))
#find는 찾지 못하면 오류대신 -1을 출력
print(str.find('T'))

In [7]:
# 리스트에서 index를 쓰지 않고 해당 위치 반환

a = [1,2,3,4,5,6,7]
size = len(a) # a 배열의 길이 , a.lenght 아님 (자바에서 이렇게)
find = int(input())

# 힌트 for문 이용 => a의 크기 만큼 반복검사

for i in range(size):
  if a[i] == find:
    print(i)

    break
# a 에서 쓸 수 있는 기능
#pos = a.index(4) # 4의 위치는/
#print(pos)
 







# 결과
# 4 입력 => 3(번지) 출력

5
4

python java 과정평가 산업기사
java = 1년
2학년 = 노잼
결론 = 알아서 발전해라

In [ ]:
#마지막부터 값 찾기
#hint range 사용

a = [0,1,2,3,4,5,6,7,8,9]

find = int(input())